<!DOCTYPE html>
<html>
  <head>
    <title>Owner Rentee Portal</title>
    <script
  src="https://code.jquery.com/jquery-1.12.4.js"
  integrity="sha256-Qw82+bXyGq6MydymqBxNPYTaUXXq7c8v3CwiYwLLNXU="
  crossorigin="anonymous"></script>
  <script src="/assets/todo-list.js"></script>
  <link href="/assets/styles.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <% include partials/nav.ejs %>
    <h1>Owner-Rentee Portal</h1>
    <h2>Welcome to Car Rental Services</h2>
  </br></br>
  <div id="todo-table">
  <pre>
  <b>Owner can:</b>
  – View a list of their Cars
  – View current owner statements
  – View historic owner statements
  – View current and previous income and expenditure reports
  – View contact details of their car manager and contact them
  – Retrieve their username and password


  <b>Rentees can:</b>
  – View recent renteee ledger
  – View past rentee ledger
  – View contact details and/or contact their car manager
</pre>
<div align="center">
  <!-- <div id="regDiv">
<button type ="submit" id="login-land">Landlord Login</button></div> -->
<a href=".\login-owner" class="button" >Owner LOGIN</a>
<t></t>
<a href=".\login-rentee" class="button" >Rentee LOGIN</a></div>

  </body>
</html>
